extends ./base/base.pug
block main 
    .container
        .container-top
        .card 
            .card-container
                .card-container-header 
                    img(src="../docs/images/image-victor.jpg", alt="User")
                .card-container-body
                    
                    h1 Victor Crest
                    span 26
                    p London

                .card-container-footer
                    .item
                        p 80k
                        span Followers
                    .item 
                        p 803K
                        span Likes
 
                    .item
                        p 1.4K
                        span Photos
        .container-bottom
